/* Start of edit profile button */

.user_info_edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit_profile {
    position: relative;
    top: 25px;
}

.edit_profile .btn {
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: #1b95e0;
    cursor: pointer;
    border: 1px solid #1b95e0;
}


/* end of edit profile button */