{% load static %}
<div class="right">
    <form action="">
        <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search Twitter">
        </div>
    </form>
    <div class="right-side">
        <h5>You Might Like</h5>
        <div class="user_card">
            <div class="user-profile">
                <img src="{% static '/images/me2.jpeg' %}" alt="">
            </div>
            <div class="username_info">
                <div class="name_and_icon">
                    <p>Jibril</p>
                    <i class="fas fa-check-circle"></i>
                </div>
                <p class="user-email">@JibrilMohamed</p>
            </div>
            <button class="send-tweet">Follow</button>
        </div>
        <div class="user_card">
            <div class="user-profile">
                <img src="{% static '/images/me2.jpeg' %}" alt="">
            </div>
            <div class="username_info">
                <div class="name_and_icon">
                    <p>Jibril</p>
                    <i class="fas fa-check-circle"></i>
                </div>
                <p class="user-email">@JibrilMohamed</p>
            </div>
            <button class="send-tweet">Follow</button>
        </div>
        <div class="user_card">
            <div class="user-profile">
                <img src="{% static '/images/me2.jpeg' %}" alt="">
            </div>
            <div class="username_info">
                <div class="name_and_icon">
                    <p>Jibril</p>
                    <i class="fas fa-check-circle"></i>
                </div>
                <p class="user-email">@JibrilMohamed</p>
            </div>
            <button class="send-tweet">Follow</button>
        </div>
        <p><a href="{% url 'userprofile_accounts' %}">Show More</a></p>
    </div>
    <div class="right-side">
        <div class="side-header">
            <p>What's happening?</p>
        </div>
        <hr>
        <div class="side-news">
            <div class="side-news-header">
                <p>Television</p>
                <p>. LIVE </p>
            </div>
            <h4>It's time to meet the bachelors' families as Tayshia does hometowns this week on The Bachelorette</h4>
        </div>
        <hr>
        <div class="side-news">
            <div class="side-news-main">
                <div class="side-news-header">
                    <p>Television</p>
                    <p>. LIVE </p>
                </div>
                <img src="{% static '/images/me2.jpeg' %}" alt="">
            </div>

            <h4 class="side-news-post">It's time to meet the bachelors' families as Tayshia does hometowns this week on The Bachelorette</h4>

        </div>
        <hr>
        <div class="side-news">
            <div class="side-news-header">
                <p>Television</p>
                <p>. LIVE </p>
            </div>
            <h4>It's time to meet the bachelors' families as Tayshia does hometowns this week on The Bachelorette</h4>
        </div>
        <hr>
        <div class="side-news">
            <div class="side-news-main">
                <div class="side-news-header">
                    <p>Television</p>
                    <p>. LIVE </p>
                </div>
                <img src="/images/me2.jpeg" alt="">
            </div>

            <h4 class="side-news-post">It's time to meet the bachelors' families as Tayshia does hometowns this week on The Bachelorette</h4>
            <hr>
        </div>
        <div class="side-news">
            <div class="side-news-header">
                <p>Television</p>
                <p>. LIVE </p>
            </div>
            <h4>It's time to meet the bachelors' families as Tayshia does hometowns this week on The Bachelorette</h4>
        </div>
        <hr>
        <div class="side-news">
            <div class="side-news-main">
                <div class="side-news-header">
                    <p>Television</p>
                    <p>. LIVE </p>
                </div>
                <img src="{% static '/images/me2.jpeg' %}" alt="">
            </div>

            <h4 class="side-news-post">It's time to meet the bachelors' families as Tayshia does hometowns this week on The Bachelorette</h4>

        </div>
    </div>
</div>